.footer {
  padding: 70px 0 0 0;
  .footerWrapper {
    background-color: #191a23;
    padding: 55px 60px 50px 60px;
    border-radius: 45px 45px 0 0;
    .footerNavWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        color: white;
      }
    }
    .footerNavigation {
      display: flex;
      .logo {
        color: white;
      }
      .navList {
        li {
          a {
            color: white;
            span {
              &::after {
                background-color: white;
              }
            }
          }
        }
      }
    }
    .socialList {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style-type: none;
    }
    .footerContact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 66px 0 50px 0;
      border-bottom: 1px solid white;
      margin-bottom: 50px;
      .adress {
        .footerContactTitle {
          width: max-content;
          font-size: 20px;
          font-weight: 500;
          background-color: #b9ff66;
          border-radius: 7px;
          padding: 7px;
          margin-bottom: 27px;
        }
        .footerInfo {
          font-size: 18px;
          font-weight: 400;
          color: white;
          margin-bottom: 20px;
          line-height: 140%;
        }
      }
    }
    .footerForm {
      display: flex;
      padding: 58px 40px;
      background-color: #292a32;
      gap: 20px;
      border-radius: 14px;
      .footerInput {
        padding: 22px 35px;
        border-radius: 14px;
        border: 1px solid white;
        color: white;
        background-color: #292a32;
        transition: all 0.3s ease;
        cursor: pointer;
        &::placeholder {
          color: white;
        }
        &:hover {
          transform: scale(1.05);
        }
        &:focus {
          border: 2px solid white;
          outline: none;
        }
      }
      .footerFormBtn {
        background-color: #b9ff66;
        color: black;
        border-radius: 14px;
        padding: 20px 35px;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
    .copyrightWrapper {
      display: flex;
      align-items: center;
      gap: 40px;
      .copyright {
        font-size: 18px;
        font-weight: 400;
        color: white;
      }
      .privacyLink {
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
      }
    }
  }
}
