header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  .headerWrapper {
    margin: 60px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: black;
    }
    .navigation {
      display: flex;
      gap: 40px;
      .navList {
        li {
          a {
            color: black;
            span {
              &::after {
                background-color: black;
              }
            }
          }
        }
      }
      .headerCtaBtn {
        top: 0;
        display: flex;
        align-items: center;
        padding: 20px 35px;
        background-color: white;
        color: black;
        &:active {
          background-color: #c3c3c3;
          span::after {
            width: 0;
          }
        }
      }
    }
  }
}
