.plan {
  padding: 70px 0;
  .about {
    .planSubtitle {
      width: 25%;
    }
  }
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    .accordion-item {
      width: 100%;
      background-color: #191a23;
      border-radius: 45px;
      padding-bottom: 4px;
      transition: all 0.6s ease;
      &:hover {
        transform: scale(1.05);
      }
      .accordion-item-wrapper {
        background-color: #f3f3f3;
        border-radius: 45px;
        border: 1px solid #191a23;
      }
      .accordion-button {
        position: relative;
        width: 100%;
        border: none;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 41px 60px 41px 60px;
        cursor: pointer;
        .item-title {
          font-size: 60px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 25px;
          span {
            font-size: 30px;
          }
        }
        .icon {
          position: absolute;
          right: 60px;
          width: 58px;
          height: 58px;
          border-radius: 50%;
          border: 1px solid #191a23;
          background-color: #f3f3f3;
          &:before {
            content: "";
            position: absolute;
            width: 25px;
            height: 6px;
            background-color: #191a23;
            top: 25px;
            right: 15px;
            transition: all 0.7s ease;
          }
          &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 25px;
            background-color: #191a23;
            top: 15px;
            right: 25px;
            transition: all 0.7s ease;
          }
        }
      }
      .accordion-content {
        width: 100%;
        max-height: 0;
        padding: 0 90px 0 60px;
        opacity: 0;
        transition: max-height 0.6s ease, opacity 0.5s ease;
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          border-top: 1px solid #191a23;
          padding: 30px 0 41px 0;
        }
      }
    }
    .accordion-item-active {
      .accordion-item-wrapper {
        background-color: #b9ff66;
      }
      .accordion-button {
        padding: 41px 60px 11px 60px;
        .icon {
          &:before {
            transform: rotate(630deg);
            opacity: 0;
          }
          &::after {
            transform: rotate(630deg);
          }
        }
      }
      .accordion-content {
        padding: 30px 60px 0 60px;
        max-height: 300px;
        opacity: 1;
      }
    }
  }
}
